/* reset */
html, body, div, span, h1, h2, p, a, img, strong, ul, li, button, footer, header {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
*, :after, :before {-webkit-box-sizing: border-box; box-sizing: border-box;}
a, button, div {outline: none;}
ul {list-style: none; display: block;}
img {border: none;}

/* grid */
html, body, .wrap {height: 100%;}
.wrap {width: 1024px; margin: 0 auto; padding: 20px 0;}

/*.ship, .icon-field, .btn-play {background: url('seabattle/point5.png') no-repeat;}*/


/* typography */
body {font-family: "Times New Roman" 18px; line-height: 24px; color:black;}
p {margin-bottom: 10px;}

/* buttons */
.btn-play {width: 144px; height: 45px; display: block; font-size: 24px; line-height: 40px; text-align: center; margin: 0 auto; background-position: 0 -150px; cursor: pointer;}

/* left, right, position, clearfix */
.text-center {text-align: center;}
.clearfix:before, .clearfix:after {display:table; content:'';}
.clearfix:after {clear:both;}

/* display */
[data-hidden="true"] {display:none;}
[data-hidden="false"], .block {display:block;}

/*** CONTENT ***/

.battlefield {width: 860px; height: 530px; position: relative; margin: 0 auto; background: white;}
.text-top {height: 66px; font-size: 22px; line-height: 66px; text-align: center; margin-bottom: 7px;}
.text-btm {color: #c00; text-align: center; padding-top: 10px;}

.outer {margin-bottom: 21px;}
.field {width: 366px; height: 366px; position: relative; background:url('seabattle/play_field.png') no-repeat; background-size: 366px 366px;}
.field-user {float: left; margin-left: 38px;}
.field-comp{float: right; margin-right: 26px;}

.ships {width: 330px; height: 330px; position: relative; left: 34px; top: 35px;}
.ship {height: 35px; position: absolute;}
.vertical {transform: rotate(90deg); transform-origin: 16px 16px;}
.fourdeck {width: 133px; height: 32px; background:#F5F5F5; border: 1px solid #666666; opacity: 0.8;}
.fourdeck.success {width: 133px; height: 32px; background:#D5E8D4; border: 1px solid #82B366; opacity: 0.8;}
.fourdeck.unsuccess {width: 133px; height: 32px; background:#F8CECC; border: 1px solid #B85450; opacity: 0.8;}
/*.fourdeck.drawned {width: 133px; height: 32px; background:#F8CECC; border: 1px solid #B85450; opacity: 0.8;*/
/*.fourdeck {width: 134px; background-position: 0 0;}
.fourdeck.success {background-position: 0 -50px;}
.fourdeck.unsuccess {background-position: 0 -100px;}*/
.tripledeck {width: 99px; height: 32px; background:#F5F5F5; border: 1px solid #666666; opacity: 0.8;}
.tripledeck.success {width: 99px; height: 32px; background:#D5E8D4; border: 1px solid #82B366; opacity: 0.8;}
.tripledeck.unsuccess {width: 99px; height: 32px; background:#F8CECC; border: 1px solid #B85450; opacity: 0.8;}
/*.tripledeck {width: 101px; background-position: -150px 0;}
.tripledeck.success {background-position: -150px -50px;}
.tripledeck.unsuccess {background-position: -150px -100px;}*/
.doubledeck {width: 65px; height: 32px; background:#F5F5F5; border: 1px solid #666666; opacity: 0.8;}
.doubledeck.success {width: 65px; height: 32px; background:#D5E8D4; border: 1px solid #82B366; opacity: 0.8;}
.doubledeck.unsuccess {width: 65px; height: 32px; background:#F8CECC; border: 1px solid #B85450; opacity: 0.8;}
/*.doubledeck {width: 68px; background-position: -270px 0;}
.doubledeck.success {background-position: -270px -50px;}
.doubledeck.unsuccess {background-position: -270px -100px;}*/
.singledeck {width: 32px; height: 32px; background:#F5F5F5; border: 1px solid #666666; opacity: 0.8;}
.singledeck.success {width: 32px; height: 32px; background:#D5E8D4; border: 1px solid #82B366; opacity: 0.8;}
.singledeck.unsuccess {width: 32px; height: 32px;background:#F8CECC; border: 1px solid #B85450; opacity: 0.8;}
/*.singledeck {width: 35px; background-position: -360px 0;}
.singledeck.success {background-position: -360px -50px;}
.singledeck.unsuccess {background-position: -360px -100px;}*/


.instruction {margin-left: 430px; -webkit-user-select: none; user-select: none;}
.type-placement-box {line-height: 34px; padding-bottom: 18px;}
	.type-placement-box .link {font-size: 20px; border-bottom: dashed 2px #5A77A1; cursor: pointer;}

.initial-ships li {height: 35px; position: relative; overflow: hidden; margin-top: 31px;}
.initial-ships .ship {left: 0; top: 0; float: left; cursor: move;}
.initial-ships .tripledeck1 {left: 164px;}
.initial-ships .tripledeck2 {left: 297px;}
.initial-ships .doubledeck2 {left: 99px;}
.initial-ships .doubledeck3 {left: 197px;}
.initial-ships .singledeck2 {left: 65px;}
.initial-ships .singledeck3 {left: 131px;}
.initial-ships .singledeck4 {left: 197px;}

.icon-field {width: 33px; height: 33px; position: absolute; z-index: 5;}
.dot {width: 32px; height: 32px; background:url('seabattle/dot5.png'); background-size: 32px 32px;}
.red-cross {width: 32px; height: 32px; background:url('seabattle/cross.png'); background-size: 32px 32px;}
.drawned { border: 1px solid #ff0000; opacity: 0.8;}
.shaded-cell  {width: 32px; height: 32px; background:url('seabattle/dot_grey.png'); background-size: 32px 32px;}
.shaded-cell2  {width: 32px; height: 32px; background:url('seabattle/dot_grey.png'); background-size: 32px 32px;}
.shaded-cell_red {width: 32px; height: 32px; background:url('seabattle/doubledeck.png'); background-size: 32px 32px;}